{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Address and Map -->" | safeHTML }}
<section class="address">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="block">
          {{ range .Site.Data.contact.address }}
          <div class="address-block text-center">
            <div class="icon">
              <i class="{{ .icon }}"></i>
            </div>
            <div class="details">
              {{ range .addressList }}
              <h3>{{ .listItem }}</h3>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="google-map">
          {{ "<!-- Google Map -->" | safeHTML }}
          <div id="map_canvas" data-latitude="{{ with .Site.Params.mapLatitude }} {{ . }} {{ end }}" data-longitude="{{ with .Site.Params.mapLongitude }} {{ . }} {{ end }}" data-marker="{{ with .Site.Params.mapMarker }} {{ . | absURL }} {{ end }} "></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-form section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4">Drop us a mail</h2>
      </div>
      <div class="col-12">
        <form action="{{ .Site.Data.contact.form.formAction }}"  class="row">
          {{ "<!-- Name -->" | safeHTML }}
          <div class="col-md-6">
            <input class="form-control main" type="text" placeholder="Name" required>
          </div>
          {{ "<!-- Email -->" | safeHTML }}
          <div class="col-md-6">
            <input class="form-control main" type="email" placeholder="Your Email Address" required>
          </div>
          {{ "<!-- subject -->" | safeHTML }}
          <div class="col-md-12">
            <input class="form-control main" type="text" placeholder="Subject" required>
          </div>
          {{ "<!-- Message -->" | safeHTML }}
          <div class="col-md-12">
            <textarea class="form-control main" name="message" rows="10" placeholder="Your Message"></textarea>
          </div>
          {{ "<!-- Submit Button -->" | safeHTML }}
          <div class="col-12 text-right">
            <button class="btn btn-main-md">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
