<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Provenance.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2777</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
				<key>dateExpires</key>
				<string>9/14/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVAtari800.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVFCEU.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVGB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVGBA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVGenesis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVMednafen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.27.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVMupen64Plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVMupen64PlusRspHLE.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVMupen64PlusVideoGlideN64.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVMupen64PlusVideoRice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVPokeMini.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVRSPCXD4.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVReicast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVSNES.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.60</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVStella.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVSupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVTGBDual.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PVVirtualJaguar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PicoDrive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ProSystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2777</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FFF2082568487199747E42A5F53377BAE4D9D392</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>S32Z3HMYVQ.org.provenance-emu.provenance.spotlight</string>
						<key>com.apple.developer.icloud-container-environment</key>
						<string>Production</string>
						<key>com.apple.developer.icloud-container-identifiers</key>
						<array>
							<string>iCloud.org.provenance-emu.provenance</string>
						</array>
						<key>com.apple.developer.icloud-services</key>
						<array>
							<string>CloudDocuments</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>S32Z3HMYVQ</string>
						<key>com.apple.developer.ubiquity-container-identifiers</key>
						<array>
							<string>iCloud.org.provenance-emu.provenance</string>
						</array>
						<key>com.apple.developer.ubiquity-kvstore-identifier</key>
						<string>S32Z3HMYVQ.org.provenance-emu.provenance.spotlight</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.org.provenance-emu</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Spotlight.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0ad0e6bd-df8c-4c9c-84fe-7ad51582f838</string>
						<key>dateExpires</key>
						<string>9/14/22</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: org.provenance-emu.provenance.spotlight</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S32Z3HMYVQ</string>
						<key>name</key>
						<string>Joseph Mattiello</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S32Z3HMYVQ.org.provenance-emu.provenance</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.org.provenance-emu.provenance</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>S32Z3HMYVQ</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.org.provenance-emu.provenance</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>S32Z3HMYVQ.org.provenance-emu.provenance</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.org.provenance-emu</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Provenance.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a4ac85fd-518d-451e-97cb-95f2aba18681</string>
				<key>dateExpires</key>
				<string>9/14/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.provenance-emu.provenance</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S32Z3HMYVQ</string>
				<key>name</key>
				<string>Joseph Mattiello</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.2</string>
		</dict>
	</array>
</dict>
</plist>
