{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Featured Article -->" | safeHTML }}
<section class="section featured-article">
  <div class="container">
    <div class="row">
      {{ range first 1 (where .Data.Pages "Type" "featured-post") }}
      <div class="col-md-12">
        <article class="featured">
          <div class="image">
            <a href="{{ .Permalink }}"><img src="{{ .Params.Image | absURL }}" onerror="this.src='{{ .Params.ImageAlt | absURL }}'" alt="featured-article"></a>
          </div>
          <div class="body">
            <div class="content">
              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <p>{{ .Summary }}</p>
              <a class="btn btn-main-sm" href="{{ .Permalink }}">Read more</a>
            </div>
            <div class="card-footer mt-5 p-0 pt-3 bg-transparent">
              <div class="post-info">
                <div class="mr-3">
                  <img src="{{ .Params.AuthorImage | absURL }}" alt="author-thumb">
                </div>
                <div>
                  <p>{{ .Params.Author }}</p>
                  <p>{{ .PublishDate.Format "January 02, 2006" }}</p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- End of Featured Article -->" | safeHTML }}

<section class="post-grid section pt-0">
  <div class="container">
    <div class="card-deck mb-3">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range $index, $element := $paginator.Pages }}
      <div class="card shadow p-4 mb-4">
        <div class="header d-flex align-items-center justify-content-center text-center  mb-4">
          <a href="{{ .Permalink }}"><img class="img-fluid" src="{{ .Params.Image | absURL }}" onerror="this.src='{{ .Params.ImageAlt | absURL }}'" alt="Post-Image"></a>
        </div>
        <div class="body flex-column h-100">
          <h3 class="mb-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p class="card-text">{{ .Summary }}</p>
        </div>
        <div class="card-footer mt-5 p-0 pt-3 bg-transparent">
          <div class="post-info">
            <div class="mr-3">
              <img src="{{ .Params.AuthorImage | absURL }}" alt="author-thumb">
            </div>
            <div>
              <p>{{ .Params.Author }}</p>
              <p>{{ .PublishDate.Format "January 02, 2006" }}</p>
            </div>
          </div>
        </div>
      </div>
      {{ if (eq (mod (add $index 1) 2) 0) }}
      <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on md--></div>
      {{ end }}
      {{ if (eq (mod (add $index 1) 3) 0) }}
      <div class="w-100 d-none d-lg-block"><!-- wrap every 3 on lg--></div>
      {{ end }}
      {{ end }}
      <div class="col-12">
        {{"<!-- pagination -->" | safeHTML }}
        <div class="col-12 mt-5">
          {{ $paginator := .Paginator }}
          <!-- Number of links either side of the current page. -->
          {{ $adjacent_links := 2 }}
          <!-- $max_links = ($adjacent_links * 2) + 1 -->
          {{ $max_links := (add (mul $adjacent_links 2) 1) }}
          <!-- $lower_limit = $adjacent_links + 1 -->
          {{ $lower_limit := (add $adjacent_links 1) }}
          <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
          {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
          <!-- If there's more than one page. -->
          {{ if gt $paginator.TotalPages 1 }}
          <nav aria-label="Page navigation" class="pagination-nav">
            <ul class="pagination justify-content-center">
              <!-- First page. -->
              {{ if ne $paginator.PageNumber 1 }}
              <li class="page-item">
                <a class="page-link hover-ripple" href="{{ $paginator.First.URL }}">
                  ««
                </a>
              </li>
              {{ end }}
              <!-- Previous page. -->
              {{ if $paginator.HasPrev }}
              <li class="page-item">
                <a href="{{ $paginator.Prev.URL }}" class="page-link hover-ripple">
                  «
                </a>
              </li>
              {{ end }}
              <!-- Page numbers. -->
              {{ range $paginator.Pagers }}
              {{ $.Scratch.Set "page_number_flag" false }}
              <!-- Advanced page numbers. -->
              {{ if gt $paginator.TotalPages $max_links }}
              <!-- Lower limit pages. -->
              <!-- If the user is on a page which is in the lower limit.  -->
              {{ if le $paginator.PageNumber $lower_limit }}
              <!-- If the current loop page is less than max_links. -->
              {{ if le .PageNumber $max_links }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Upper limit pages. -->
              <!-- If the user is on a page which is in the upper limit. -->
              {{ else if ge $paginator.PageNumber $upper_limit }}
              <!-- If the current loop page is greater than total pages minus $max_links -->
              {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Middle pages. -->
              {{ else }}
              {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              {{ end }}
              <!-- Simple page numbers. -->
              {{ else }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Output page numbers. -->
              {{ if eq ($.Scratch.Get "page_number_flag") true }}
              <li class="page-item{{ if eq . $paginator }} page-item active {{ end }}">
                <a href="{{ .URL }}" class="page-link hover-ripple">
                  {{ .PageNumber }}
                </a>
              </li>
              {{ end }}
              {{ end }}
              <!-- Next page. -->
              {{ if $paginator.HasNext }}
              <li class="page-item">
                <a href="{{ $paginator.Next.URL }}" class="page-link hover-ripple">
                  »
                </a>
              </li>
              {{ end }}
              <!-- Last page. -->
              {{ if ne $paginator.PageNumber $paginator.TotalPages }}
              <li class="page-item">
                <a class="page-link hover-ripple" href="{{ $paginator.Last.URL }}">
                  »»
                </a>
              </li>
              {{ end }}
            </ul>
          </nav>
          {{ end }}
        </div>
        {{"<!-- /pagination -->" | safeHTML }}
      </div>
    </div>
  </div>
</section>

{{ end }}