body {
  // overflow-x: hidden;
  // See https://github.com/michalsnik/aos/issues/110
}


/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.shadow {
  -webkit-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, .11);
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, .11);
}

.overlay {
  &:before {
    content: '';
    background: rgba(105, 140, 230, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

a:focus,
a:hover {
  color: $primary-color;
  text-decoration: none;
}

.bg-gray {
  background: #fafafa;
}

.bg-blue {
  background: $primary-color;
}

.bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-coming-soon {
  background: url(../images/background/comming-soon.jpg) fixed no-repeat;
  background-size: cover;
  background-position: bottom;
}

.section {
  padding: 50px 0;
}

.section-title {
  text-align: center;

  h2 {
    font-size: 35px;
    margin-bottom: 13px;
  }

  p {
    width: 50%;
    margin: 0 auto;

    @include mobile {
      width: 100%;
    }
  }

  margin-bottom: 80px;
}

.page-title {
  text-align: center;

	@include screenHeightLPlus {
		padding: 4rem 0 6rem 0;

		h1 {
			padding-bottom: 4rem;
			margin-bottom: 0;
			position: relative;

			&:after {
				width: 40px;
				height: 2px;
				content: '';
				display: block;
				background: $link-color;
				position: absolute;
				bottom: 2rem;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
}

// Promo Video
.video {
  position: relative;

  &:before {
    border-radius: 3px;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  .video-button {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .video-box {
    a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      i {
        height: 125px;
        width: 125px;
        font-size: 40px;
        background: $primary-color;
        border-radius: 100%;
        color: $light;
        line-height: 125px;
        text-align: center;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.form-control {
  &.main {
    background: $light;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid $border-color;
    font-size: 14px;

    &:focus {
      border: 1px solid $primary-color;
    }
  }
}

.form-control::-webkit-input-placeholder {
  color: $text-color;
  font-size: 14px;
}

.left {
  overflow: hidden;

  img {
    margin-left: -40px;

    @include tablet {
      margin-left: 0;
      margin-bottom: 30px;

    }
  }
}

.right {
  overflow: hidden;

  img {
    margin-left: 40px;

    @include tablet {
      margin-left: 0;
    }
  }
}

.hide-overflow {
  overflow: hidden;
}

.nav-up {
  top: -70px;
}

[class^=text-value] {
    font-weight: 600;
}

.text-value-lg {
    font-size: 1.3125rem;
}

.text-white .text-muted {
    color: rgba(255,255,255,.7)!important;
}

.bg-gradient-info {
    background: #2982cc;
    background: linear-gradient(45deg,#39f 0%,#2982cc 100%);
    border-color: #2982cc;
}

.bg-gradient-warning {
    background: #f6960b;
    background: linear-gradient(45deg,#f9b115 0%,#f6960b 100%);
    border-color: #f6960b;
}

.bg-gradient-success {
    background: #1b9e3e;
    background: linear-gradient(45deg,#2eb85c 0%,#1b9e3e 100%);
    border-color: #1b9e3e;
}

.bg-gradient-danger {
    background: #d93737;
    background: linear-gradient(45deg,#e55353 0%,#d93737 100%);
    border-color: #d93737;
}