{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Privacy Policy -->" | safeHTML }}
<section class="privacy section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav class="privacy-nav">
          <ul>
            {{ range .Site.Data.privacy.privacy.privacyList }}
            <li><a href="#{{ .title | urlize | lower }}" class="scrollTo">{{ .title }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div class="block">
          {{ range .Site.Data.privacy.privacy.privacyDetails }}
          <div id="{{ .for | urlize | lower }}" class="policy-item">
            <div class="title">
              <h3>{{ .for }}</h3>
            </div>
            <div class="policy-details">
              {{ .content | markdownify }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Privacy Policy -->" | safeHTML }}
  

{{ end }}
