{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Privacy Policy -->" | safeHTML }}
<section class="privacy section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav class="privacy-nav">
          <ul>
            {{ range .Site.Data.privacy.privacy.privacyList }}
            <li><a href="#{{ .title | urlize | lower }}" class="scrollTo">{{ .title }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div class="block">
          {{ range .Site.Data.privacy.privacy.privacyDetails }}
          <div id="{{ .for | urlize | lower }}" class="policy-item">
            <div class="title">
              <h3>{{ .for }}</h3>
            </div>
            <div class="policy-details">
              {{ .content | markdownify }}
            </div>
          </div>
          {{ end }}
          <!-- <div id="disclaimer" class="policy-item">
            <div class="title">
              <h3>Disclaimer</h3>
            </div>
            <div class="policy-details">
              <p>Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor
                eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec
                sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet
                nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at
                tellus.</p>
            </div>
          </div>
          <div id="limitations" class="policy-item">
            <div class="title">
              <h3>Limitations</h3>
            </div>
            <div class="policy-details">
              <p>Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor
                eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec
                sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet
                nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at
                tellus.</p>
            </div>
          </div>
          <div id="governigLaw" class="policy-item">
            <div class="title">
              <h3>Governing Law</h3>
            </div>
            <div class="policy-details">
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis
                porttitor volutpat. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Nulla
                quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac
                lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a.</p>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis
                porttitor volutpat. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed,
                convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Nulla
                quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac
                lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit,
                eget tincidunt nibh pulvinar a.</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Privacy Policy -->" | safeHTML }}
  

{{ end }}